.mainFxmlClass {

}
.panelTop {
    -fx-background-color: #2c3e50;
    /*-fx-border-color: #e67e22;*/
    /*-fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;*/
}

/* ESTILO GENERAL PARA LA TABLAa */
.table-view {
    -fx-background-color: #ecf0f1;
    -fx-table-cell-border-color: #bdc3c7;
    -fx-padding: 5;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

/*.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #f1c40f;  Amarillo 
}

.table-view .column-header .label {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}*/

/* Cabecera de la tabla */
.table-view .column-header-background {
    -fx-background-color: transparent; /* Amarillo categoría */
}
.table-view .column-header {
    -fx-background-color: #f1c40f; /* Amarillo */
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 35;
    -fx-border-color: transparent;
    -fx-alignment: CENTER-LEFT;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #2c3e50;
}

/* Filas de la tabla */
.table-row-cell {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.table-row-cell:filled:selected,
.table-row-cell:filled:selected:hover {
    -fx-background-color: #2980b9;  /* Azul hover */
    -fx-text-fill: white;
}

/* Alternancia de colores por fila (opcional) */
.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-view .table-row-cell:selected .text {
    -fx-fill: white;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #2471a3; /* tu color azul oscuro */
}